@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <div class="container-item1">
        <h1 class="display-4">@Model.Greeting()</h1>
        <h2>I'm a developer. Did you need help?</h2>
        <p>coding is life</p>
        <a class="button-sp" href="/Portfolio">My portfolio</a>
    </div>
    <h2 class="content">Task today</h2>
    <div class="container-item2">
        
        @foreach(ListTask aTask in Model.choose){
            <div class="task">
                <h3>@aTask.Title</h3>
                <p>@aTask.Mission</p>
            </div>
        }

    </div>
</div>

