*{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #0077cc;
}
html {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.container{
  padding: 20px 0 10px 0;
  max-width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
.button-sp {
  width: 150px;
  height: 50px;
  background-color: rgb(235, 119, 11);
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  
}
.container-item2 {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.button-sp > a {
  text-decoration: none;
  background-color: rgb(235, 119, 11);
}
a:link, a:visited {
  text-decoration: none;
  color: #ffffff;
}
.button-sp:hover, .button-sp:active {
  background-color: rgb(218, 136, 59);
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  border: 1px solid #ffffff;

}

